$path_fonts : './fonts/';
@import "font-roboto";
@import "font-material-desing";

$primary-hex: #1a3444;
$primary-color-warn: #CC0000;
// $secondary-color: #6D6E71 ;
$secondary-color-variant-normal: #1a3444;
$primary-color: #f26829;
$primary-color-variant: #f2682999;
$secondary-color: #1a3444;
$secondary-color-variant: #1a3444d9;
$secondary-color-light: #c5c5c5;

@mixin col($col: 1) {
  @if $col==1 {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
  }

  @else {
      @if $col=='auto' {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          width: auto;
          max-width: none;
      }

      @else {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 $col;
          flex: 0 0 $col;
          max-width: $col;
      }
  }

}

@mixin no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(shared/fonts/iconfont/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

audio,
canvas,
iframe,
img,
svg,
video {
  max-width: 100%;
}



.mdl-button {
  @include no-select();
}

.app-content {
  height: 100%;
  .loading-processamento {
    background: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 44px;
    padding: 16px;
    font-size: 16px;
    color: #fff;
    .mdl-card {
      background: $secondary-color;
      border: 0;
      box-shadow: none;
      img {
        margin: 5vh auto;
      }
    }
    .mdl-button {
      color: #fff;
    }
  }
}

.toolbarbg {
  z-index: 99999 !important;
}

.mdl-layout__drawer-button {
  display: none;
}

.mdl-layout__content {
  position: unset;
}

.mdl-app {
  display: flex;
  overflow: hidden;
  position: relative;
}

.mdl-app-content {
  padding: 16px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}



.mdl-layout {
  display: flex;
  flex-wrap: nowrap;
}

.mdl-layout-item {
  flex: 1 1;

  &.mdl-size-33 {
    min-width: 33.3333%;
    max-width: 33.3333%;
    flex: 0 1 33.3333%
  }

  .mdl-size-70 {
    min-width: 70%;
    max-width: 70%;
    flex: 0 1 70%
  }

  .mdl-size-30 {
    min-width: 30%;
    max-width: 30%;
    flex: 0 1 30%
  }

}

.body-1,
body {
  font-weight: 400;
  line-height: 20px;
}

dialog[open] {
  display: flex;
}

dialog {
  display: none;
  position: absolute;
  left: 0px;
  right: 0px;
  width: -webkit-fit-content;
  height: -webkit-fit-content;
  color: black;
  margin: auto;
  border-width: initial;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  padding: 1em;
  background: white;
}

dialog {
  //display: none;
}

.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-details{
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(180deg,#1a3444 40vh, #fff 200px);
    
  .logo{
    /* width: 283px; */
    height:40vh;
    width: 216px;
    /* background-color:#fff; */
    border-width: 0px;
    margin: 0 auto;
    // background-image: url('./shared/logo_tracker_blank.png');
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-height: 70%;
      width: auto;
      max-width: 90%;
    }
  }
  .mdl-app{
  height: 100vh;
  }
  .powered_by{
    position: absolute;
    bottom: 10px;
    right: 5px;
    font-size: 0.7em;
    background: url('./shared/tracker-up.png');
    background-size: 90px;
    background-position: right bottom;
    background-repeat: no-repeat;
    width: 95px;
    height: 45px;
  }
}

.textfield-with-icon {
  position: relative;

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter,
  .fade-leave-to

  /* .fade-leave-active em versões anteriores a 2.1.8 */
    {
    opacity: 0;
  }

  .material-icons {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
  }

  .reorder {
    transform: rotate(90deg);
    top: 25%;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .content-page {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    #currentDate::-webkit-clear-button {
      display: none;
    }
    .background-primary-color {
      background-color: $primary-color;
      color: $secondary-color;
    }
    .background-primary-color-variant {
      background-color: $primary-color-variant;
    }
    .background-secondary-color {
      background-color: $secondary-color;
    }
    .background-secondary-color-variant {
      background-color: $secondary-color-variant;
    }
    .background-secondary-color-light {
      background-color: $secondary-color-light;
      color: $secondary-color-variant;
    }
  }
}

.mdl-button--fab {
  background: $secondary-color !important;
  color: #fff;
  display: inline-block;
  margin: 0;
  @include no-select();

  &.orange {
    background: $primary-color;

    &:hover,
    &.mdl-button--colored,
    &:focus:not(:active) {
      background: $primary-color;
    }
  }

  &:hover,
  &.mdl-button--colored,
  &:focus:not(:active) {
    background: $secondary-color;
  }
}

.mdl-button--raised {
  @include no-select();
  &.button-input {
    border-radius: 4px;
    background: #939598;
    padding: 0 10px;
    color: #fff;
    width: 100%;
    text-align: left;
    text-transform: none;
    font-size: 12px;
    font-weight: 500;

    i {
      margin-right: 10px;
    }
  }
}

.mdl-button .material-icons.message {
  /*font-size: 34px;
  line-height: 34px;
  width: 34px;
  transform: translate(-17px,-17px);*/
}

.mdl-textfield {
  width: 100%;
  margin-bottom: 16px;
  background-color: rgba(0, 0, 0, 0.06);
  padding-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;

  .mdl-textfield__input {
    color: rgba(0, 0, 0, 0.87);
    padding: 0;
    padding-left: 8px;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    letter-spacing: 0.010em;
    outline: none;
    box-sizing: border-box;

    &::-webkit-date-and-time-value {
      margin: 0;
      font-size: 16px;
      height: 32px;
      line-height: 32px;
      letter-spacing: .01em;
    }
  }

  .mdl-textfield__label {
    padding-left: 8px;
    text-indent: 16px;
    color: rgba(0, 0, 0, 0.54);
    letter-spacing: 0.034em;
    box-sizing: border-box;
  }

  textarea.mdl-textfield__input {
    height: 106px;
    padding-right: 16px;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: 0.010em;
    padding-top: 12px;
    box-sizing: border-box;
  }

  &.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
  &.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
  &.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: $primary-color;
  }

  &.mdl-textfield--floating-label {

    input[type="date"].mdl-textfield__input,
    input[type="time"].mdl-textfield__input,
    input[type="datetime-local"].mdl-textfield__input {
      &::-webkit-datetime-edit-fields-wrapper {
        opacity: 0;
      }

      &:focus::-webkit-datetime-edit-fields-wrapper {
        opacity: 1;
      }

      &:focus {
        +.mdl-textfield__label {
          color: #F04E23;
          font-size: 12px;
          top: 4px;
          visibility: visible;
        }
      }
    }

    &.is-dirty {

      input[type="date"],
      input[type="time"],
      input[type="datetime-local"] {
        &::-webkit-datetime-edit-fields-wrapper {
          opacity: 1;
        }
      }
    }
  }


  &.mdl-textfield--floating-label.is-invalid {
    .mdl-textfield__label {
      color: #f00000
    }
  }

  .mdl-textfield__label:after {
    background: $primary-color;
    bottom: 0;
  }


  &.mdl-date {
    .mdl-textfield__input {
      outline: none;

      &:focus {
        +.mdl-textfield__label {
          color: #F04E23;
          font-size: 12px;
          top: 4px;
          visibility: visible
        }
      }
    }
  }

  &.mdl-select {
    outline: none;

    .mdl-textfield__input {
      cursor: pointer;
    }

    select {
      appearance: none;

      &:focus {
        outline: none
      }
    }
  }

  .mdl-icon-toggle__label {
    float: right;
    margin-top: -30px;
    color: rgba(0, 0, 0, 0.4);
    transform: rotate(0);
    transition: transform 0.3s;
  }

  .mdl-menu {
    background: #fff;
    opacity: 1;
    z-index: 999;
    clip: unset;
    left: 8px;
    right: 8px;
    top: 54px;
    padding: 0;

    .mdl-menu__item {
      opacity: 1;
      border-bottom: 2px solid #6D6E71;
    }
  }

  &.is-focused {
    .mdl-icon-toggle__label {
      transform: rotate(180deg);
    }
  }

  &.inputSum {

    label,
    .value {
      padding-left: 16px;
    }
  }
}


.mdl-error {
  margin-top: -16px;
  color: #f00000;
  font-size: 12px;
  margin-bottom: 16px;
  display: block;
  padding-left: 15px;
}


.radioFctaGroup .radioFcta {
  height: auto !important;
  border-bottom: 1px solid #E3E3E3;
  padding-left: 6px;

  .mdl-radio-no-mdl {
    .mdl-radio__button {
      display: none;
    }

    .mdl-radio__button:checked+.radio__outer-circle {
      border: 2px solid rgb(255, 87, 34);

      .radio__inner-circle {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
      }
    }

    .radio__outer-circle {
      border: 2px solid rgba(0, 0, 0, .54);
      position: relative;
      width: 32px;
      height: 32px;
      display: inline-block;
      border-radius: 50%;
      box-sizing: border-box;
      position: absolute;
      left: 0;
    }

    .radio__inner-circle {
      background: rgb(255, 87, 34);
      width: 22px;
      height: 22px;
      top: 3px;
      left: 3px;
      position: absolute;
      border-radius: 50%;
      -webkit-transition-duration: .28s;
      transition-duration: .28s;
      -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      -webkit-transition-property: -webkit-transform;
      transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform, -webkit-transform;
      transition-property: transform, -webkit-transform;
      -webkit-transform: scale(0, 0);
      transform: scale(0, 0);
    }

  }
}

.radioFcta {
  margin: 3px 0 0px;
  padding-bottom: 3px;

  .mdl-radio {
    font-size: 14px;
    line-height: 20px;
    height: auto !important;
    min-height: 34px;
    padding-top: 4px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 40px !important;

    b {
      color: #000 !important;
    }
  }
}

.mld-button-icon-text {

  &.button-back,
  &.mapa,
  &.menu {
    font-size: 14px;
    letter-spacing: 0.018em;
    text-transform: none;
    padding: 0;
    margin-left: 8px;
    font-weight: 400;

    @media (max-width: 320px) {
      font-size: 12px;
    }
  }

  &.button-back {
    .material-icons {
      margin-right: -5px;
      margin-top: -2px;
    }

  }

  &.menu {
    .material-icons {
      margin-top: -2px;
    }
  }

  &.mapa {
    margin-right: 8px;
  }

  i {
    line-height: inherit;

  }
}
.modal-form {
  .addButton {
    position: absolute;
    margin-top: -70px;
    right: 5vw;
  }
  .mdl-list__item {
    border-bottom: 1px solid;
    .mdl-list__item-secondary-content.actions {
      flex-direction: row;
      .mdl-list__item-secondary-action {
        margin: 0 5px;
      }
    }
  }
  .form-container {

    .fields-container {
      max-height: calc(100% - 46px);
      box-sizing: border-box;
      overflow-y: auto;
      margin-bottom: 10px;
    }
  }
  .section {
    max-height: 75vh; 
    overflow-y: auto;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
}

.modal-form h5.pageTitle,
h5.pageTitle {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mdl-button--fab--text {
    display: flex;
    align-items: center;
    justify-content: center;
  span {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.018em;
    line-height: 18px;
  }
}

.mdl-card {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.12);
  margin: 0 8px 8px 8px;
  padding: 8px 16px;
  width: auto;
  min-height: unset;
  font-size: 14px;
  box-sizing: content-box;

  h6 {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    margin: 0;
    color: rgba(0, 0, 0, 0.6);

    .material-icons {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .dados {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 2px;

    .lista-dados {
      margin-top: 0;
    }
  }

  &.limited {
    max-height: 50vh;
    min-height: 30px;
  }

  &.expand {
    .mdl-card {
      border: 0;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      margin-bottom: 0;
      padding-right: 4px;
    }

    h6 {
      position: relative;
      margin-right: -10px;
      transition: .3s all linear;

      .material-icons {
        color: rgba(0, 0, 0, 0.6);
        transition: .3s all linear;
        position: absolute;
        right: 0px;
        top: -4px;
      }

      &.active {
        .material-icons {
          transform: rotate(180deg);
        }

      }
    }

    .dados {
      max-height: 0;
      overflow: hidden;
      transition: 0.3s linear all;

      &.active {
        max-height: 20000px;
        transition: 1s linear all;
      }
    }
  }
}

.content-page>div:not(.task-before)>.taskitem {
  padding: 0;
}

.task-before {
  // padding-bottom: 56px;
  > .taskitem {
   min-height: 130px;
  }
}


.taskitem {

  * {
    margin: 0;
    padding: 0;
  }

  .row-conteudo {
    display: flex;
    justify-content: stretch;

    .conteudo-card {
      padding: 8px 16px;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }

    .reordenacao {
      display: flex;
      flex-direction: column;
      background: $primary-color;

      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      position: relative;
      transition: 0.1s all;
      max-width: 0;

      &.ativo {
        max-width: 40px;
      }

      button {
        height: 50%;
        width: 40px;
        background: none;
        border: 0;

        .material-icons {
          color: #fff;
          font-size: 20px !important;
          height: 20px;
        }
      }
    }
  }

  .row {
    align-items: center;

    &.row-titulo {
      margin-bottom: 14px
    }

    .status-title {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%;
    }

    .icon {
      min-width: 10%;
      max-width: 10%;
      flex: 0 1 10%;
      align-self: flex-end;

      &.icon-close {
        .material-icons {
          background: #939598;
          color: #fff;
          border-radius: 50%;
          font-size: 20px !important;
          text-align: center;
          line-height: 29px;
        }
      }
    }
  }

  .status {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.018em;
    color: rgba(0, 0, 0, 0.6)
  }

  .title {
    line-height: 30px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
  }

  .location-icon {
    margin-right: 8px;
  }

  .address {
    font-size: 14px;
    letter-spacing: 0.018em;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .material-icons {
    font-size: 29px !important;
    width: 29px;
    min-width: 29px;
    height: 29px;
    color: #F04E23;

    &.grey {
      color: #939598 !important;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  &.nowrap {
    flex-wrap: nowrap;
  }
}


.mdl-grid {
  padding: 0 !important;
  width: 100%;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}



.input-blocked {
  padding-bottom: 15px;
  padding-top: 6px;

  i {
    margin-right: 8px;
    color: #939598;
    vertical-align: middle;
  }

  label {
    display: block;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.034em;
    color: $primary-color;
    margin-bottom: 10px;
  }

  .input-pharse {}
}

.mdl-checkbox {
  border-bottom: 2px solid #6D6E71;
  height: 30px;
  padding-bottom: 12px;

  &.is-upgraded {}

  &.is-checked {
    .mdl-checkbox__box-outline {
      border-color: $secondary-color;
    }

    .mdl-checkbox__tick-outline {
      background-color: $secondary-color;
      -webkit-mask: none;
    }
  }

  .mdl-checkbox__box-outline {
    border-color: #747474;
  }

  .mdl-checkbox__label {
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: 0.010em;
    line-height: 19px;
  }
}

.input-selecao-pecas,
.section-field,
.section-stars,
.section-checkbox,
.section-conforme,
.section-okfoto,
.section-simnao,
.section.campo_livre,
.section.section-form,
.container-fotoConjunto,
.container-foto {
  margin-bottom: 24px;
  margin-top: 4px;

  .section {
    margin: 0 auto;
  }

  label:not(.mdl-textfield__label) {
    margin-bottom: 4px;
    color: $primary-color;
    letter-spacing: 0.034em;
    font-size: 12px;
    display: block;
  }
}

.input-select-multi-box {
  .section-field {
    padding-left: 8px;
  }
}

.section-field {
  .mdl-checkbox {
    padding-bottom: 0;
    line-height: 26px;
  }
}

.container-fotoConjunto,
.container-foto {
  background: rgba(109, 110, 113, 0.07);
  border-radius: 5px;
  padding: 7px 16px 10px;

  .md-layout {
    align-items: center;
    padding: 0 8px;
  }

  .imageThumb .image {
    margin-bottom: 10px;
  }

  .mdl-error {
    margin-bottom: 10px;
    display: inline-block;
  }
}

.container-fotoConjunto {
  background: none;
}

.cameraButton {
  text-align: center;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;

  .mdl-button--fab {
    width: 70px;
    height: 70px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    background: #939598 !important;

    &:focus:not(:active),
    &:hover {
      background: #939598
    }

    .material-icons {
      width: 48px;
      min-width: 48px;
      height: 48px;
      font-size: 48px !important;
      transform: translate(-23px, -13px);
    }
  }
}

.section.section-form {
  .mdl-button--raised.button-input {
    margin-bottom: 4px;
  }

  .fieldList {
    list-style: none;
    background: rgba(0, 0, 0, 0.07);
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: $secondary-color;
    margin: 0 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 5px;

    li {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }

    .button-cancelar {
      margin-right: 3px;
      width: 25px;
      min-width: 25px;

      .material-icons {
        color: #fff;
        background: #6D6E71;
        border-radius: 50%;
        font-size: 14px;
        height: 20px;
        width: 20px;
        line-height: 20px !important;
      }

    }

    .button-edit {
      margin-left: auto;
    }
  }
}

.section.campo_livre {
  font-size: 14px;
  letter-spacing: 0.018em;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.inputPredefinedPontogeo {
  margin: 4px 0 24px;

  label {
    margin-bottom: 8px;
    color: $primary-color;
    letter-spacing: 0.034em;
    font-size: 12px;
    display: block;
    line-height: 14px;
  }
}

.section-okfoto,
.section-simnao,
.section-conforme {
  >label {
    padding-left: 8px;
  }

  margin-bottom: 0;

  .mdl-tabs {
    margin-bottom: 16px;
  }

  .mdl-tabs__tab-bar {
    height: auto;
    border: 0;
  }

  .mdl-tabs__tab {
    padding: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    height: auto;
    line-height: 1;
    text-transform: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 8px;
    padding-top: 4px;
    @include no-select();

    &:hover {
      text-decoration: none;
    }

    .label {
      font-size: 11px;
      font-weight: 500;
      color: #6D6E71;
      letter-spacing: 0.090em;
      line-height: 13px;
      border: 0;
    }

    .material-icons {
      margin: 0 auto 8px;
      display: block;
      color: #6D6E71;
    }

    &.active {
      &.check_circle_outline {
        .material-icons {
          color: $secondary-color;
        }

        border-color: $secondary-color;
      }

      &.cancel {
        .material-icons {
          color: #CC0000;
        }

        border-color: #CC0000;
      }

      &.more_horiz {
        .material-icons {
          color: $primary-color;
        }

        border-color: $primary-color;
      }
    }

    .container-foto {
      padding-left: 0;
      background: none;
      padding-right: 0;
      padding-bottom: 0;
    }
  }
}

.section-stars {
  >label {
    padding-left: 8px;
  }

  &:not(.readOnly) {
    .inputstars {
      margin-bottom: 16px;
    }
  }

  .inputstars {
    text-align: center;

    .mdl-button--icon {
      margin-left: 4px;
      margin-right: 4px;
    }
  }
}

.form-actions {
  display: flex;
  justify-content: space-around;

  .mdl-button {
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
    padding: 0;
    letter-spacing: 0.09em;

    &:active,
    &:hover {
      background: inherit;
    }
  }

  &.fixed-actions {
    position: fixed;
    width: 100%;
    bottom: 11px;
    left: 0;
    z-index: 9999;
    padding-bottom: 10px;

    &.wizard {
      background: #fff
    }
  }

  &.wizard {
    .mdl-button {
      color: #939598;

      .material-icons {
        background: $secondary-color;
        color: #fff;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 5px;
      }
    }

    .mdl-button[disabled][disabled] {
      .material-icons {
        background: #939598;
      }

    }
  }

  &.simple {
    justify-content: flex-end;

    .mdl-button {
      margin-left: 6px;
      padding: 0 10px;
      border-radius: 4px;
    }
  }

  &.wizardconfirm {
    padding: 15px;

    .button-edit {
      color: #6D6E71;

      .material-icons {
        color: #CC0000;
      }
    }

    .button-confirm {
      color: $secondary-color;
    }

    .mdl-button {
      line-height: 1;
      height: auto;
    }
  }
}


.imageThumb {
  position: relative;

  .image {
    background-color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid #939598 1px;
    position: relative;
    overflow: hidden;
    margin: 5px;
    min-height: 95px;
    max-height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
  }

  button.cancel {
    position: absolute;
    top: -6px;
    right: -6px;
    height: 24px;
    min-width: 24px;
    width: 24px;
    line-height: 24px;
    background: #939598 !important;

    .material-icons {
      font-size: 14px;
    }
  }
}

.modal-form {
  margin: 16px 10px;
  padding: 25px 15px 10px;

  h5 {
    margin-top: 0;
    margin-bottom: 18px;
    text-align: center;

    .orange {
      color: $primary-color;
    }
  }

  .content {
    overflow-y: auto;
  }
}

.mdl-layout__drawer {
  display: flex;
  flex-direction: column;
  width: 400px;
  -webkit-transform: translateX(-410px);
  transform: translateX(-410px);
  max-width: calc(100vw - 56px);
  border: 0;

  @media (max-width: 600px) {
    width: 320px;
    -webkit-transform: translateX(-330px);
    transform: translateX(-330px);
  }

  .client-logo {
    background: $secondary-color;
    
    border-width: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    height: 22vh;
    display: flex;
    align-items: center;
    justify-content: center;


    img {
      max-width: 216px;
      max-height: 85%;
      // max-width: 100%;
    }
  }

  .agent-info {

    padding-left: 16px;
    // border-top: 1px solid #ccc;
    padding-top: 12px;
    // margin-top: 6px;

    h5 {
      margin-bottom: 4px;
      margin-top: 0;
      line-height: 24px;
    }

    .matricula {
      font-size: 14px;
      line-height: 17px;
      color: rgba(0, 0, 0, 0.6)
    }
  }

  hr.hr-agent {
    margin-top: 12px;
    border-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
  }

  .mdl-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    overflow-y: auto;

    .mdl-list__item {
      margin: 0 8px 12px;
      padding: 8px 8px;
      border-radius: 4px;
      min-height: 0;
      font-size: 14px;

      .mdl-list__item-icon {
        margin-right: 32px;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
      }

      &.ativo {
        background: rgba($primary-color, .1);
        color: $primary-color;

        .mdl-list__item-icon {
          color: $primary-color;
        }
      }
    }

    .align-bottom {
      margin-top: auto;

    }

    .align-bottom~.align-bottom {
      margin-top: 0;
    }

    .align-bottom:last-child {
      margin-bottom: 0;
    }
  }
}

.mdl-chip--deletable-right {
  padding-left: 4px;
  padding-right: 12px;
  &.orange {
    background-color: $primary-color;
    color: #fff;
    .material-icons {
      color: #fff;
    }
  }
}

.mdl-dialog {
  border-radius: 4px;
  width: auto;
  margin: 0 8px;
  overflow-y: auto;
  max-height: calc(100% - 16px);
  top: 50%;
  transform: translateY(-50%);
  z-index: 99999;

  &.full {
    background: rgba(0.3, 0.3, 0.3, 0.3);
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0px;
    max-height: 100%;
    max-width: 100%;
    border-radius: 0;
    flex-direction: column;
    justify-content: center;
    z-index: 999999999999999;
    transform: none;
    top: 0 !important;

    .mdl-dialog__title {
      flex: auto;
    }

    .mdl-dialog__content {
      padding: 0;
      color: rgba(0, 0, 0, 0.6);
      letter-spacing: 0.018em;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      background: white;
      padding: 10px;
      border-radius: 4px;
      overflow-y: auto;
      margin: 8px;
      flex-direction: column;
      justify-content: center;
      max-height: calc(100% - 16px);
      box-sizing: border-box;
      
      .mdl-dialog__actions {
        margin-top: 15px;
      }
      .fields-container {
        max-height: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow-y: auto;
        margin-bottom: 0px;
        padding-bottom: 10px;
        flex: 1;
        overflow-x: hidden;
        overflow: visible;
      }
      .inResponse {
        // height: calc(75vh - 50px);
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        // max-height: calc(100% - 40px);
        max-height: 90%;
        .form-container {
          max-height: 100%;
          display: flex;
          flex-direction: column;
        }
      }
    }

    .mdl-layout__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .page-content {
      background: white;
      height: 100%;
      overflow-y: auto;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }

    .mdl-tabs__tab {
      flex: 1;
      font-size: 14px;
      text-transform: capitalize;
      letter-spacing: 0.090em;
      color: #6D6E71;
      text-decoration: none;
    }

    .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
      background: $secondary-color;
    }
  }

  &.full-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none;
    .mdl-layout__content{
      display: flex;
      flex-direction: column;
      .page-content {
        flex-grow: 1;
        position: relative;
      }
    }
  }

  &::backdrop {
    background: rgba(109, 110, 113, 0.4)
  }

  .mdl-dialog__title {
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.012em;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 12px;

    .material-icons {
      vertical-align: text-bottom;
      margin-right: 16px;
    }
  }

  h5 {
    margin-top: 0;
    text-align: center;

    .orange {
      color: $primary-color;
    }
  }

  h5.orange {
    color: $primary-color;
  }

  .mdl-dialog__content {
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.018em;
    font-size: 14px;
    line-height: 20px;
  }

  .mdl-dialog__actions {
    padding: 0;
  }

  .mdl-button {
    text-transform: none;
  }
}

.separador {
  background: rgba(0, 0, 0, 0.08);
  padding: 12px 16px;
  line-height: 19px;
  letter-spacing: 0.010em;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 8px;
}

.field_livre,
.orientacao {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.018em;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;

  * {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.flex-start {
  justify-content: flex-start;
  order: 0;
}

.flex-end {
  justify-content: flex-end;
  order: 10;
}

.flex-start,
.flex-end {
  display: flex;
  align-items: center;
  flex: 1;
}

.mdl-button:focus:not(:active) {
  background: inherit
}

#header {
  &.hide {
    display: none;
  }
}

.mdl-layout__header {
  background: $secondary-color;
  color: #fff;

  .mdl-layout__header-row {
    padding: 0;
  }

  .mdl-button {
    color: #fff;
  }
}

.inputSearch {
  margin: 0 8px;

  .textfield-with-icon .material-icons {
    padding-bottom: 0;
    margin-top: 5px;
  }

  .mdl-textfield {
    background: none;
    padding-top: 16px;
    margin-bottom: 8px;

    .mdl-textfield__input {
      background-color: #FFF;
      border: solid 1px $secondary-color;
      -webkit-border-radius: 4px;
      -moz-border-radius: 45px;
      border-radius: 4px;
    }

    .mdl-textfield__label {
      box-sizing: border-box;

      &:after {
        content: none;
      }
    }

    &.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
    &.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
    &.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
      color: #F04E23;
      height: auto;
      bottom: auto;
      display: inline-block;
      width: auto;
      right: auto;
      left: 10px;
      padding-left: 6px;
      padding-right: 28px;
      top: 5px;
      background: #fff;
    }
  }
}

.accordionSearch {
  margin: 0;

  .mdl-textfield {
    margin-bottom: 0;
  }
}

.accordionSearch {
  
  .textfield-with-icon .material-icons {
    padding-bottom: 0;
    right: 22px;
    &.clearicon {
      right: 44px;
    }
  }
}

#partsSelectionDialog {
  .mdl-card {
    margin-top: 8px;
    min-height: calc(100% - 16px);
    box-sizing: border-box;
    &.livre.firstNivel {
      border: 0;
      padding: 16px 8px;
      > .mdl-card {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.applicability {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  position: absolute;
  top: 0;
  right: 7px;
  opacity: 0.6;
  box-shadow: 0 1px 3px rgba($color: #000000, $alpha: 0.3);

  &.applicability-1 {
    background-color: green;
  }
  &.applicability-2 {
    background-color: yellow;
  }
  &.applicability-3 {
    background-color: red;
  }
}

.jsonValueNotFound {
  text-align: center;
  padding: 15px;
}

#dialog-error {
  .mdl-dialog__title {
    color: #ff0000;
  }
}

#dialog-message {
  .mdl-dialog__title {
    color: #F04E23;
  }
}

#dialog-blocked {
  .mdl-dialog__title {
    font-size: 20px;
    font-weight: 500;
    &.notinResponse {
      padding-right: 65px;
    }
  }

  .mdl-dialog__content {
    &.visible {
      overflow-y: visible;
      .form-container,
      .fields-container {
        overflow: visible !important;
      }
    }
  }
  .form-actions {
    margin-top: 10px
  }
}

.text-right {
  text-align: right;
}

.textOrange {
  color: $primary-color;
}

.component-signature {
  .container-button {
    margin-right: 3px;

    &+.container-button {
      margin-left: 3px;
      margin-right: 0;
    }

    button {
      height: 36px;
      color: #FFF;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      width: 100%;
      text-align: left;
      line-height: 34px;
      padding-left: 14px;
      border: 0;
      background-color: #939598;
      font-size: 12px;
      letter-spacing: 0.090em;
      font-weight: 500;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);

      i {
        vertical-align: middle;
        margin-bottom: 2px;
        margin-right: 10px;
      }

      span {
        vertical-align: middle;
      }
    }
  }

  .mdl-grid {
    margin: 0 -1px;
    width: auto;
  }

}

.is-invalid label {
  color: #f00000 !important;
}

.readOnly {
  padding-bottom: 8px;
  padding-top: 8px;

  label {
    display: block;
    font-size: 12px;
    color: $primary-color;
    letter-spacing: 0.034em;
    line-height: 14px;
    margin-bottom: 8px;
    padding-left: 8px;
  }

  .value {
    display: block;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.010em;
    color: rgba(0, 0, 0, 0.87);
    padding-left: 8px;
    padding-right: 8px;
    word-break: break-word;
  }

  .labelvalue {
    font-size: 11px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 20px;

    padding-left: 8px;

    &+.value {
      margin-top: 8px;
    }

    .material-icons {
      vertical-align: middle;
      margin-right: 8px;

      &.check_circle_outline,
      &.conforme {
        color: $secondary-color;
      }

      &.cancel,
      &.naoConforme {
        color: #CC0000;
      }

      &.more_horiz,
      &.naoSeAplica {
        color: $primary-color;
      }
    }
  }

  .box-respostas {
    border: 1px solid #707070;
  }

  .box-subrespostas ul {
    padding: 0;

    li {
      margin-bottom: 5px;
      list-style: none;
      border: 1px solid #707070;
      border-radius: 5px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

.task-form {
  padding-top: 12px;
  height: 100%;

  .actions {
    position: absolute;
    right: 4px;
    bottom: 9px;
    z-index: 1;
  }
}

.task-started {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  h4 {
    margin: 0 0 6px;
  }

  >.mdl-card.expand.limited {
    box-sizing: border-box;
  }

  .detalhes-tarefa {
    .lista-dados {
      max-height: 28vh;
      overflow-y: auto;
      overflow-x: hidden;
    }

  }

  .card-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0;

    &.card-wizard {
      overflow: unset;
    }

    .card-content {
      overflow-y: scroll;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      height: 100%;
      padding-top: 8px;
      padding-bottom: 8px;
      box-sizing: border-box;

      &.visible {
        overflow: visible;
      }
      &.not-padding {
        padding: 0;
      }
    }
  }

  .actions {
    position: absolute;
    right: 4px;
    bottom: 9px;
    z-index: 1;
  }
}

.form-container {

  //position: relative;
  &.wizard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // height: 100%;
    &:not(.readonlystep) {
      padding-left: 8px;
      padding-right: 8px;
    }

    &.readonlystep {
      .separador {
        background: none;
      }

      .readonlyfield:nth-child(odd) {
        background: rgba(#939598, 0.15);
      }

      .inputPredefinedPontogeo {
        padding-left: 8px;
        padding-bottom: 8px;
        padding-top: 8px;
      }

      .orientacao {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  } 
}

.lista-dados {
  .mdl-list__item--two-line {
    padding: 12px 8px;
    height: auto;
    word-break: break-all;
    .mdl-button {
      height: auto;
    }
  }

  .mdl-list__item-primary-content {
    height: auto;

    span {
      font-size: 13px;
      letter-spacing: 0;
      height: auto;
    }
  }
}

.task-description {
  padding-bottom: 72px;
  .lista-dados {
    .mdl-list__item--two-line {
      padding: 8px 8px;
      .mdl-button {
        width: 100%;
        line-height: 1.4;
        padding: 12px;
    
      }
    }
  }  
}

.list__resposta {
  .mdl-list__item {
    background: #eee;
    margin-bottom: 4px;
  }
}

.d-flex {
  display: flex;
}

#confirm-stop-task {
  .d-flex {
    display: flex;
    flex-direction: column;
  }
}

.barcode-button {
  background:rgba(0, 0, 0, 0.06);
  height: 52px;
  // margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  .button-area {
    border-left: 1px solid #B3B7B9;
    padding: 0 8px;
    margin: 8px 0;
    img {

    }
  }
}

.radio-big {
  padding-left: 36px !important;
  line-height: 38px;
  height: auto;

  .mdl-radio__outer-circle {
    width: 32px;
    height: 32px;
  }

  .mdl-radio__inner-circle {
    width: 22px;
    height: 22px;
    top: 9px;
    left: 5px;
  }
}

.mdl-toolbar-section-end,
.mdl-toolbar-section-start {
  display: flex;
  align-items: center;
  flex: 1;
}

.mdl-toolbar-section-end {
  justify-content: flex-end;
  order: 10;
}

.mdl-toolbar-section-start {
  justify-content: flex-start;
  order: 0;
}

.snackbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  padding: 14px 16px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 14;
  border-radius: 2px;
  transition: .68s cubic-bezier(.4, 0, .2, 1);
  background-color: #000 !important;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0 auto;
  right: 0;
  bottom: -100%;
  left: 0;

  &.show {
    bottom: 0;
  }

  .snackbar-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: opacity .38s cubic-bezier(.55, 0, .55, .2);
    color: #fff;

    .material-icons {
      font-size: 12px;
    }

    .mdl-button--primary {
      height: auto;
      line-height: inherit;
      text-transform: initial;
    }
  }
}

.no-pad {
  padding: 0px !important;
}


.toolbarbg .pageTitle {
  font-size: 20px;
  font-weight: 500;

  @media (max-width: 320px) {
    font-size: 16px;
  }
}

.toolbarbg {
  background-color: $primary-color !important;
  z-index: 999999999;
}

.toolbarbg * {
  color: #fff !important;
}



.material-icons {
  &.black {
    color: #000 !important;
  }

  &.grey {
    color: #939598;
  }

  &.orange {
    color: $primary-color !important;
  }

  &.green {
    color: $secondary-color !important;
  }

  &.red {
    color: #cc0000 !important;
  }
}

#dialog-occurence {
  .form-actions {
    padding-bottom: 8px;
  }
}
#dialogForm {
  .mdl-dialog__content {
    overflow-y: visible;
  }
}


button.orange {
  background-color: $primary-color !important;
  color: #FFF !important;
}

button.green {
  background-color: $secondary-color !important;
  color: #FFF !important;
}

button.whited {
  color: #fff !important;
  font-size: 12px;
  font-weight: 500;
}

button.grey {
  background-color: #939598 !important;
  color: #FFF !important;
}

.bold {
  font-weight: bold !important;
}

.hour-item {
  background: rgba(0, 0, 0, 0.08);
  line-height: 48px;
  min-height: 48px;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 0px 16px !important;
  box-sizing: border-box;

  .body-1 {
    font-size: 16px;
    letter-spacing: 0.01em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .mdl-caption {
    font-size: 12px;
    letter-spacing: 0.033em;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .reordernar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .mld-button-small {
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    text-transform: none;
    letter-spacing: 0.05em;
    font-weight: normal;
    padding: 0 8px;
  }
}

.loading {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:  $primary-color !important;
  .load {
    display: inline-block;
    width: 60px;
    height: 100%;
    background: url(./../../archive/load.svg) no-repeat center;
    background-size: contain;
    background-size: 200%
  }

  label {
    color: rgba(246, 72, 46, 1);
    font-weight: bold
  }
}

.input-selecao-pecas {
  .mdl-list {
    border-width: 0 0 2px 0;
    border-color: $secondary-color;
    border-style: solid;
    padding: 0;
    
    margin: 0 4px 16px;
    background-color: rgba(0, 0, 0, 0.06);
    // max-height: 280px;
    // overflow-y: auto;
    .mdl-list__item {
      word-break: break-all;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      padding: 8px;
      min-height: 60px;
      height: auto;
      padding-right: 4px;
    }
    
    .mdl-list__item-primary-content {
      font-size: 14px;
      height: auto;
      .mdl-list__item-sub-title {
        font-size: 12px;
      }
    }
    .mdl-list__item-secondary-content {
      align-items: center;
      flex-direction: row;
      margin-left: 8px;
      .qtd-actions {
        display: flex;
        align-items: center;
        margin-right: 8px;
        input {
          outline: none;
          width: 35px;
          height: 28px;
          text-align: center;
          background-color: #DFDFDF;
          border-radius: 4px 4px 0 0;
          border: 0;
          border-bottom: 1px solid;
          border-bottom-color: rgba(0,0,0,.12);
        }
        .material-icons {
          color: #333;
          font-size: 20px;
         
        }
      }
      .qtd-control {
        background: none;
        border: 0;
        outline: none;
      }
      .mdl-list__item-secondary-action {
        .material-icons {
          color: red;
        }
      }

    }
  }
  .add-peca, .searchSubPart {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    // text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 4px;
    border-radius: 4px;
    color: white;
    background: $primary-color;
    .material-icons {
      color: white;
      margin-left: 4px;
    }
    &.red {
      background: #939598;
      text-decoration-line: line-through;
      span {
        width: 100%;
        height: 2px;
        background: white;
        position: absolute;
        transform: rotate(7deg);
      }
    }
  }
}

.div-snackbar {
  position: fixed;
  height: 48px;
  overflow: hidden;
  bottom: -48px;
  width: 100%;
  z-index: 999900;
  &.is-visible {
    bottom: 0;
  }

  .snackbar {
    position: absolute;
  }
}

#dialogLoaderRequestAproveRoute,
#dialogLoaderCatalog,
#dialogConfirmStopTask
 {
  flex-direction: column;

  .tiny-loader {
    margin: 0 15px
  }

  .tiny-loader, p {
    display: inline-block;
  }

  .mdl-dialog__content {
    display: flex;
  }
}

#dialogTentarNovamente {
  flex-direction: column;
}

.tiny-loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #f26829;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.small-loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #f26829;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f26829;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#dialogMain {
  flex-direction: column;
}

.input-autocomplete-list {
  position: relative;
  .autocomplete-list {
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 999;
    margin-top: -16px;
    background: #f9f9f9;
    border: 1px solid #efefef;
    box-sizing: border-box;
    .item-list {
      box-sizing: border-box;
      min-height: 48px;
      padding: 8px 16px;
      display: flex;
      align-items: center;
    }
  }
}

.page-occurrence {
  background-color: rgba(0, 0, 0, 0.03);
  height: 100%;
}

.accordeon {
  .painel {
    box-sizing: content-box;
    display: block;
    margin: 0;
    
    overflow: hidden;
    transition: margin 225ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background: #fff;
    
    color: rgba(0,0,0,.87);
    
    &:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    &__title {
      padding: 0 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 48px;
      background: $primary-color;
      color: #fff;
      font-size: 16px;
      span {
        flex-grow: 1;
      }
      .material-icons {
        flex: 0 0 24px;
      }
    }
    &__content {
      max-height: 0;
      overflow: hidden;
      transition: all 2s linear;
    }
    &__list {
      margin: 0;
      padding: 0;
      .mdl-list__item {
        font-size: 14px;
        border-bottom: 1px solid rgba(0,0,0,.07);
        padding: 24px;
      }
    }
    &--ativo {
      margin-bottom: 10px;
      .painel__content {
        max-height: 5000px;
        overflow: scroll;
      }
    }
  }
}

.bottom-bar-padding {
  padding-bottom: 64px;
}

.botton-actions {
  position: fixed;
  bottom: 24px;
  width: 100%;
  display: flex;
  z-index: 9999;
  //justify-content: flex-end;
  justify-content: center;
  padding: 0 8px;
  box-sizing: border-box;
  // align-items: baseline;
  &.space-between {
    justify-content: center;
  }

  .col-aproveRoute {
    min-width: 215px;
  }

  .col-actions {
    position: absolute;
    right: 8px;
    width: 56px;
    height: 56px;
    bottom: -10px;
  }
  
  .actions {
    position: absolute;
    left: auto;
    right: auto;
    bottom: 0;
  }

}
.botton-actions {
  
  .actions {
    z-index: 99999;
     transition: 0.3s all;
    .mdl-button--fab {
      display: block;
      & ~ .mdl-button--fab {
        margin-top: 12px;
      }
    }

    .mdl-button {
      box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
      border-radius: 50%;
      display: block;
      width: 56px;
      height: 56px;
      margin: 20px auto 0;
      position: relative;
      -webkit-transition: all .1s ease-out;
      transition: all .1s ease-out;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        max-width: 18px;
        max-height: 18px;
      }
    }

    .mdl-button:active,
    .mdl-button:focus,
    .mdl-button:hover {
      box-shadow: 0 0 4px rgba(0,0,0,.14),  0 4px 8px rgba(0,0,0,.28);
    }

    #nav-icon {
      width: 30px;
      height: 25px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
      display: block;
      margin: 0 auto;
      transform: scale(0.8);
      span {
        display: block;
        position: absolute;
        height: 6px;
        width: 6px;
        background: #fff;
        border-radius: 10px;
        opacity: 1;
        left: 40%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }
      span:nth-child(1) {
        top: 0px;
      }

      span:nth-child(2),
      span:nth-child(3) {
        top: 18px;
        top: 10px;
      }

      span:nth-child(4) {
        top: 36px;
        top: 20px;
      }
    }

    .mdl-button:not(:last-child) {
      width: 40px;
      height: 40px;
      margin: 20px auto 0;
      opacity: 0;
      -webkit-transform: translateY(50px);
          -ms-transform: translateY(50px);
              transform: translateY(50px);
    }

    .mdl-button:nth-last-child(1) {
      -webkit-transition-delay: 25ms;
              transition-delay: 25ms;
    }

    .mdl-button:not(:last-child):nth-last-child(2) {
      -webkit-transition-delay: 50ms;
              transition-delay: 20ms;
    }

    .mdl-button:not(:last-child):nth-last-child(3) {
      -webkit-transition-delay: 75ms;
              transition-delay: 40ms;

    }

    .mdl-button:not(:last-child):nth-last-child(4) {
      -webkit-transition-delay: 100ms;
              transition-delay: 60ms;
    }

    .mdl-button:not(:last-child):nth-last-child(5) {
      -webkit-transition-delay: 125ms;
              transition-delay: 80ms;
    }

    .mdl-button:not(:last-child):nth-last-child(6) {
      -webkit-transition-delay: 150ms;
              transition-delay: 100ms;
    }

    /* Show tooltip content on hover */

    [tooltip]:before {
      bottom: 25%;
      font-family: arial;
      font-weight: 600;
      border-radius: 2px;
      background: #585858;
      color: #fff;
      content: attr(tooltip);
      font-size: 12px;
      visibility: hidden;
      opacity: 0;
      padding: 5px 7px;
      margin-right: 12px;
      position: absolute;
      right: 100%;
      white-space: nowrap;
    }

    [tooltip]:hover:before,
    [tooltip]:hover:after {
      visibility: visible;
      opacity: 1;
    }
    &.fab-open {
      .mdl-button:not(:last-child) {
        opacity: 1;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        margin: 15px auto 0;
      }

      #nav-icon span {
        width: 30px;
        left: 0;
      }

      #nav-icon span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }

      #nav-icon span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      #nav-icon span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      #nav-icon span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    }
  }
}
